{{ form_start(form, {'attr': {'id': 'protocole_form', 'enctype': 'multipart/form-data'}}) }}
    <div class="row g-3">
        <div class="col-12 col-md-6">
            {{ form_row(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom du protocole'}}) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.theme, {'attr': {'class': 'form-select'}}) }}
        </div>
        <div class="col-12">
            {{ form_row(form.pdfFile) }}
        </div>
    </div>
    {{ form_rest(form) }}
    {# Le bouton de soumission est dans le card-footer de la vue edit/new #}
{{ form_end(form, {'render_rest': false}) }}
